body {
  margin: 0;
  padding: 50px;
  background-color: #f5f5f5;
}

.container {
  width: 680px;
  height: 730px;
  border-radius: 50px;
  border: 20px solid black;
  margin: 0 auto;
  background-color: rgb(250, 244, 236);
  position: relative;
  overflow: hidden;
}

.header {
  margin: 20px;
}

h1 {
  font-family: Arial, sans-serif;
  font-size: 60px;
  font-weight: 900;
  letter-spacing: -2px;
  margin: 0;
  line-height: 0.9;
}

span {
  color: red;
  word-spacing: 220px;
}

.text-area {
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  font-size: 12px;
  color: grey;
  margin: 0 20px;
  gap: 5px;
}

.text-area p {
  margin: 0;
}

.main-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 200px;
  background-color: rgb(248, 32, 32);
}

.black-shape {
  position: absolute;
  width: 320px;
  height: 140px;
  background-color: black;
  top: 60px;
  left: 0;
}

.brown-shape {
  position: absolute;
  width: 140px;
  height: 90px;
  background: rgba(189, 178, 154, 0.748);
  border-left: 10px solid red;
  border-right: 10px solid red;
  top: 25px;
  left: 90px;
}

.red-circle {
  position: absolute;
  width: 80px;
  height: 80px;
  background-color: red;
  border-radius: 50%;
  top: 90px;
  right: 100px;
}