body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
  width: 680px;
  height: 730px;
  border-radius: 50px;
  border: 20px solid black;
  margin: 50px 200px;
  background-color: rgb(250, 244, 236);
  position: relative;
  overflow: hidden;
}

.header {
  margin: 40px 40px 20px 40px;
}

h1 {
  font-size: 60px;
  font-weight: 900;
  letter-spacing: -2px;
  margin: 0;
  line-height: 0.9;
  color: black;
}

span {
  color: #E85A4F;
  word-spacing: 220px;
}

.text-area {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 15px;
  font-size: 11px;
  color: #999;
  margin: 20px 40px 40px 40px;
  line-height: 1.4;
}

.text-area p {
  margin: 0;
}

.main-container {
  position: absolute;
  bottom: 200px;
  left: 0;
  width: 100%;
  height: 240px;
  background-color: #E85A4F;
}

.first-num {
  color: white;
  font-size: 11px;
  font-weight: 400;
  padding: 20px 40px 0;
  margin: 0;
  word-spacing: 135px;
}

.box {
  color: white;
  font-size: 100px;
  font-weight: 100;
  position: absolute;
  right: 40px;
  top: 30px;
  margin: 0;
  line-height: 0.8;
}

.box-text {
  position: absolute;
  right: 40px;
  top: 150px;
  color: white;
  font-size: 13px;
  line-height: 1.2;
}

.small-text {
  font-size: 11px;
  opacity: 0.7;
  margin-top: 10px;
  font-style: italic;
}

.black {
  width: 340px;
  height: 160px;
  position: absolute;
  background-color: black;
  top: 80px;
  left: 0;
}

.brown {
  width: 200px;
  height: 120px;
  position: absolute;
  background: rgb(154, 82, 82);
  top: 50px;
  left: 0px;
  border-left: 8px solid #E85A4F;
  border-right: 8px solid #E85A4F;
}

.number-box {
  width: 200px;
  height: 80px;
  position: absolute;
  top: 20px;
  left: 20px;
}

.big-number {
  color: white;
  font-size: 62px;
  font-weight: 100;
  position: absolute;
  top: 5px;
  left: 10px;
  line-height: 1;
}

.black-numbers .num:first-child {
  position: absolute;
  top: 20px;
  left: 20px;
  color: white;
  font-size: 11px;
}

.black-numbers .num:nth-child(2) {
  position: absolute;
  top: 20px;
  left: 140px;
  color: white;
  font-size: 11px;
}

.black-numbers .num:last-child {
  position: absolute;
  bottom: 20px;
  right: 20px;
  color: white;
  font-size: 11px;
}

.bottom-section {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 200px;
  background: linear-gradient(to bottom, #f0f0f0, #e8e8e8);
}

.gray-bars {
  width: 100%;
  height: 100px;
  background: repeating-linear-gradient(
    90deg,
    #ddd 0px,
    #ddd 3px,
    transparent 3px,
    transparent 25px
  );
  opacity: 0.5;
}

.play-section {
  position: absolute;
  bottom: 40px;
  left: 40px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.play-button {
  font-size: 30px;
  color: black;
}

.play-number {
  font-size: 60px;
  font-weight: 100;
  color: black;
}

.total-number {
  font-size: 18px;
  color: #999;
  margin-left: -10px;
}

.search-button {
  position: absolute;
  bottom: 40px;
  right: 40px;
  width: 60px;
  height: 60px;
  background: black;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: white;
}