.container{
    width:700px;
    height:730px;
    border-radius:50px;
    border:20px solid black;
    margin: 50px 200px;
  }
  .header{
    margin:20px 20px;
    border:1px solid red;
  }
  h1{
    font-family: 'Arial';
    font-size:45px;
    font-weight: 900;
    letter-spacing: -2px;
  }
  span{
    color:red;
    
  }