body {
  margin: 0;
  font-family: 'Arial';
}
.container{
    width:680px;
    height:730px;
    border-radius:50px;
    border:20px solid black;
    margin: 50px 200px;
    background-color: rgb(250, 244, 236);
  }
  .header{
    margin:20px 20px;
  }
  h1{
    font-size:60px;
    font-weight: 900;
    letter-spacing: -2px;
  }
  span{
    color:red;
    word-spacing: 220px;
  }
  p{
    margin: 5px;;
  }
  .text-area {
    display: flex;
    font-family: 'Arial';
    font-size: 12px;
    color: grey;
    margin:0 15px
  }
  .main-container {
    width:680px;
    height:200px;
    background-color: rgb(248, 32, 32);
    margin: 10px 0;
    
  }
  .black {
    width:320px;
    height: 140px;
    position: absolute;
    background-color: black;
    margin-top: -30px;
  }
  .brown {
    width: 140px;
    height: 90px;
    position: absolute;
    border:solid red;
    border-width: 0px 10px;
    background:rgba(189, 178, 154, 0.748);
    margin-top: 50px;
  }
  .first-num {
    color: white;
    word-spacing: 140px;
    font-size: 10px;
    margin:0px 20px;
    padding-top: 10px;
  }
  .box{
    color: white;
    font-size: 80px;
    font-weight: bold;
    position: absolute;
    right: 50px;
    top: 20px;
    margin: 0;
  }
  .box-text {
    position: absolute;
    right: 50px;
    top: 120px;
    color: white;
    font-size: 14px;
  }
  .small-text {
    font-size: 12px;
    opacity: 0.7;
    margin-top: 20px;
  }
  .number-box {
    width: 120px;
    height: 70px;
    background-color: #E85A4F;
    position: absolute;
    top: 10px;
    left: 10px;
  }
  .big-number {
    color: white;
    font-size: 36px;
    font-weight: bold;
    position: absolute;
    top: 15px;
    left: 15px;
  }
  .black-numbers {
    position: absolute;
    color: white;
    font-size: 12px;
    right: 20px;
    top: 20px;
  }
  .num.bottom {
    position: absolute;
    top: 100px;
    right: 0;
  }
  
  .bottom-section {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 120px;
    background: linear-gradient(to right, #e8e8e8, #f5f5f5);
  }
  
  .gray-bars {
    width: 100%;
    height: 60px;
    background: repeating-linear-gradient(
      90deg,
      #ddd 0px,
      #ddd 2px,
      transparent 2px,
      transparent 20px
    );
  }
  
  .play-section {
    position: absolute;
    bottom: 20px;
    left: 30px;
    display: flex;
    align-items: center;
    gap: 15px;
  }
  
  .play-button {
    font-size: 24px;
    color: #000;
  }
  
  .play-number {
    font-size: 48px;
    font-weight: 300;
    color: #000;
  }
  
  .total-number {
    font-size: 16px;
    color: #999;
  }
  
  .search-button {
    position: absolute;
    bottom: 20px;
    right: 30px;
    width: 50px;
    height: 50px;
    background: #000;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: white;
  }